.main {
  padding: 5px;
  margin-top: 50px;
  height: 1500px; /* Used in this example to enable scrolling */
  }
  .topNav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  /*top: 150px;*/
  width: 100%;
  }
  
  .topNav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 28px;
  }
  
  .topNav a:hover {
  background: #182b49;
  color: white;
  }
  img.sticky
  {
  /*display: block;*/
  /*display: inline-block;*/
  position: sticky;
  top:0;
  
  width: 100%;
  max-width:100% ;
  max-height:100%;
  }
  
  table {
  width: 100%;
  table-layout: auto;
  border: 0px solid #ffff;
  position: sticky;
  top: 0;
  background-color: white;
  /*display: inline-block;*/
  border-spacing:0px; /* Removes the cell spacing via CSS */
  /*border-collapse: collapse;*/
  /*height: 100%;*/
  /* max-height:100%;*/
  
  }
  
  td {
  padding: 0px;
  space-between:0px;
  
  }
  
  div1{
  /* top: 100;*/
  background-color: rgb(245, 240, 230);
  width: 100%;
  /*display: inline-block;*/
  display: inline-block;
  
  }
  
  #B1 {
  /*background-color: black;*/
  color: white;
  /*padding: 40px;*/
  text-align: left;
  }
  /*</style>*/
  
  h2{
  /*background-color: black;*/
  color: white;
  }
  
  p{
  color: white;
  }
  
  div2{
  background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
  width: 100%;
  display: inline-block;
  }
  /*
  #C1{
  background-color:rgb(245, 240, 230);
  
  }
  
  */
  div3{
  /*background-color: #182b49;*/
  width: 100%;
  
  display: inline-block;
  background-color:rgb(245, 240, 230);
  }
  
  .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  }
  
  .grid-item {
  background-color: #182b49;
  padding: 20px;
  text-align: center;
  color: white;
  max-height: 500px;
  overflow-y: scroll;
  border-radius: 8px; /* Optional for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional for shadow effect */
  }
  
  .topNav .icon {
  display: none;
  }
  
  .dropdown {
  float: left;
  overflow: hidden;
  }
  
  .dropdown /*.dropbtn*/ {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }
  
  .topNav a:hover, .dropdown:hover .dropbtn {
  background-color: #182b49;
  color: white;
  }
  
  .dropdown:hover /*.dropdown-content*/ {
  display: block;
  }
  
  @media screen and (max-width: 800px) {
  /*.topNav a:not(:first-child), .dropdown .dropbtn {
  display: none;
  }*/
  .topNav a.icon {
  float: right;
  display: block;
  }
  }
  
  @media screen and (max-width: 800px) {
  
  .topNav.responsive {position: relative;}
  .topNav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
  }
  .topNav.responsive a {
  float: none;
  display: block;
  text-align: left;
  }
  .topNav.responsive .dropdown {float: none;}
  .topNav.responsive .dropdown-content {position: relative;}
  .topNav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
  }
  }
  
  /* Responsive layout for smaller screens */
  @media (max-width: 800px) {
  .grid-container {
  grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
  }
  
  /* Media query for screens smaller than 800px */
  @media (max-width: 800px) {
  
  /* Hide the anchor links (navbar) */
  .topNav a {
  display: none;
  }
  
  /* Scale down the logo */
  .logo {
  max-width: 75%; /* Scale the logo to 75% of its original size */
  }
  
  /* Set header font-size to 24px */
  h1 {
  font-size: 24px;
  
  }
  
  /* Set paragraph font-size to 20px */
  p {
  font-size: 20px;
  }
  }